.vaderImg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  left: 10%;
  position: absolute;
  & svg {
    display: inline-flex;
    width: 149px;
  }
}

.skywalkerImg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10%;
  & svg {
    display: inline-flex;
    width: 149px;
  }
}

//Adaptive-----------

@media (max-width: 1200px) {
  .vaderImg {
    & svg {
      width: 120px;
    }
  }
  .skywalkerImg {
    & svg {
      width: 120px;
    }
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .vaderImg {
    top: 30px;
    & svg {
      width: 100px;
    }
  }
  .skywalkerImg {
    top: 30px;
    & svg {
      width: 100px;
    }
  }
}

@media (max-width: 576px) {
  .vaderImg {
    & svg {
      width: 80px;
    }
  }
  .skywalkerImg {
    & svg {
      width: 80px;
    }
  }
}
