.footer {
  margin-top: 300px;

  background-color: var(--footer-color);

  width: 100%;
  padding-bottom: 30px;
}

.header {
  width: 100%;
  display: flex;

  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;

  & h1 {
    font-weight: 700;
    font-size: 72px;
    color: var(--additional-color);

    stroke: 2px solid #000000;
  }
}

.container {
  width: calc(100% - 10%);
  max-width: 1100px;
  margin: auto;
}

.sections {
  display: flex;
  color: var(--footer-text-color);
  display: flex;
  justify-content: flex-start;
  & p {
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    transition: color 0.2s linear;

    &:hover {
      color: var(--white-color);
      transition: color 0.2s linear;
    }
  }
}
.title {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 40px;
  cursor: pointer;
  transition: color 0.2s linear;
  margin-top: 0;

  &:hover {
    color: var(--accent-color);
    transition: color 0.2s linear;
  }
}

.githubTitle {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 40px;
  cursor: pointer;
  transition: color 0.2s linear;
  margin-top: 0;
  &:hover {
    color: var(--github-color);
    transition: color 0.2s linear;
  }
}
.menuSection {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.contactSection {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.createdBySection {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 2;
  align-items: flex-end;
  & p {
    font-weight: 400;
    font-size: 1.2rem;
    color: #a8a8a8;
    &:hover {
      color: var(--github-color);
    }
  }
}

//Adaptive-----------

@media (max-width: 1200px) {
  .sections {
    & p {
      font-size: 20px;
    }
  }
  .title {
    font-size: 26px;
  }
  .githubTitle {
    font-size: 26px;
  }

  .createdBySection {
    & p {
      font-size: 1rem;
    }
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .header {
    & h1 {
      font-size: 60px;
    }
  }
  .title {
    font-size: 24px;
    word-wrap: nowrap;
  }
  .githubTitle {
    font-size: 24px;
  }
  .sections {
    & p {
      font-size: 18px;
    }
  }
  .createdBySection {
    & p {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 576px) {
  .header {
    & h1 {
      font-size: 36px;
    }
  }
  .footer {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
  }

  .title {
    font-size: 18px;
  }
  .githubTitle {
    font-size: 18px;
  }
  .sections {
    justify-content: flex-start;
    gap: 30px;

    & p {
      font-size: 14px;
    }
  }
  .contactSection {
    flex-grow: 0;
  }
  .menuSection {
    flex-grow: 0;
  }
  .createdBySection {
    & p {
      font-size: 0.8rem;
      position: absolute;
      bottom: 30px;
      right: 30px;
    }
  }
}
